body{
    height: 100vh;
    /* overflow: hidden; */
    /* background-image: url("./../../img/kinect360-cover.png"); */
    /* background-size: cover; */
    /* background-position: center; */
    color: #fff;
    background-color: #1B1B27;
}

.display-3{
    text-transform: uppercase;
    font-weight: 500;
    font-stretch: condensed;
    line-height: 105%;
    text-shadow: 0px 0px 16px #000000;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    -webkit-text-fill-color: white; */
}

.nav{
    background: transparent;
}

.nav-container{
    position: fixed;
    width: 100vw;
}

.hero{
    height: auto;
}

.amethyst-warning{
    background: #1b1b2a;
    padding:.8em 1.6em;
    padding-top: 1.2em;
    border-radius: 12px;
    margin-top: 1em;
    text-decoration: none!important;
    color: white;
    box-shadow: -2px 10px 37px 0px #000000bf;
}

.amethyst-warning p{
    display: inline-block;
    height: 3em;
    color: #0c0c13;
    border-radius: 6px;
    vertical-align: middle;
    font-size: 1.6em;
    padding: 0 1em;
    line-height: 3em;
    background: linear-gradient(146deg, #51c0ff 0%, #f038b4 100%);
}

.btn{
    font-size: 1.2em;
    font-weight: 500;
    padding:1em 2em;
    text-transform: uppercase;
    border-radius: 8px;
}

.btn-primary{
    background: transparent !important;
    border: 2px solid white;
    gap: .5em;
    backdrop-filter: blur(8px);
    transition: all 0.2s ease;
}

.btn-primary:hover, .btn-primary:active{
    background: white !important;
    border: 2px solid white;
    color: #1f1f1f;
    transition: all 0.2s ease;
}

.about-ame *{
    z-index: -99;
}

.nav-bg{
    display: flex;
    position: fixed;
    top: 0;
    height: 6.5em;
    width: 100%;
    background-color: #2B2B43;
    z-index: -1;
}