@keyframes hero-entry {
    from {
        opacity: 0;
        transform: translateY(-6em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-entry {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes highlight {
    25%, 50% {
        background-color: rgba(157, 13, 182, 0.5);
    }

    from, to {
        background-color: transparent;
    }
}

@keyframes downloadButton {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

body {
    background-color: #161616;
    background: url("../img/dots.png"), #150333;
    background-size: 12em;
    color: #e2e2e2;
    font-family: "Jost", "M PLUS Rounded 1c", sans-serif;
    font-size: x-large;
    text-rendering: geometricPrecision;
}

header {
    background: linear-gradient(135deg, #7826CD, #A6369B);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background: linear-gradient(310deg, #0031ca, #d90098, #51009f);
    background-size: 600% 600%;
    animation: downloadButton 8s ease-in-out infinite; */
    width: 100%;
    display: block;
    z-index: 999;
    text-align: center;
    box-sizing: border-box;
    color: #ffffff;
    /*font-size: 0.8em;*/
    padding-top: 1em;
    padding-bottom: .3em;
}

header h1.title > .logo {
    height: 1.1em;
    margin: -0.15em;
    margin-right: 0.15em;
    filter: drop-shadow(10px 10px #2a035d);
}

header h1.title {
    margin: 0;
    font-size: 3.75em;
    font-weight: 500;
}

header p {
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin-top: 0;
}

header .langbar{
    font-size: .8em;
    text-align: left;
    position: relative;
    bottom:.3em;
    left:.6em;
    display:flexbox;
    background: #121212;
    width: max-content;
    padding: .2em;
    border-radius: 6px;
    margin-top: -.3em;
}
header .langbar a{color: white; margin: 0 .4em; text-decoration: none;}

.installer-hero {
    z-index: -1;
    margin: 2em auto 0 auto;
    display: flex;
    width: 80%;
    max-width: 65em;
    /* background: linear-gradient(90deg, #1f1f1f, #0f0f0f); */
    background: #121212;
    border-radius: 8px;
    animation-name: hero-entry;
    animation-duration: 1.3s;
    /* padding: 1em; */
    box-shadow: 0px 1px 36px 0px #00000060;
}

.hero-content {
    display: inline-block;
    min-width: max-content;
    margin: auto 1em;
    padding: 1em;
    transform: translateY(-1em);
    color:#ffffff;
    overflow: hidden!important;

}

.hero-content h1 {
    line-height: 1em;
}

.hero-video-container{
    width: auto;
    background-color: #121212;
    display: block;
    overflow: hidden;
}

.hero-video {
    /* min-width: 0; */
    /* display: block; */
    background-color: #121212!important;
    width:100%;
    transform: scale(1.2);
    height: 100%;
    /* margin: 0 auto; */
    position: relative;
    top: 0;
    left: 0;
}
/* 
.video-overlay{
    width: 100%;
    height: 20%;
    background: url("../img/overlay.png");
    background-size: cover;
} */

.hero-buttons > a {
    white-space: nowrap;
    display: inline-block;
    margin: .4em 0;
    margin-right: 0.1em;
    text-align: center;
}

#download-button {
    transition: .1s ease-in;
    background: linear-gradient(310deg, #0031ca, #d90098, #51009f);
    background-size: 600% 600%;
    animation: downloadButton 8s ease-in-out infinite;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 4px;
    max-height: 35px;
}

#download-button:before {
    visibility: visible;
    content: "aaa";
    background-image: url(../img/download-icon.svg);
    display: inline-block;
    background-size: 60%;
    background-position: center left;
    color: transparent;
    background-repeat: no-repeat;
}

#download-button:hover {
    transition: all .1s ease-out;
    filter: brightness(1.5);
}

#github-link {
    transition: 0.1s;
    background: #404040;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 4px;
}

#github-link:hover {
    background: #818181;
}

#discord-link:before {
    visibility: visible;
    content: "aaa";
    background-image: url(../img/Discord-Logo-White.svg);
    display: inline-block;
    background-size: 80%;
    background-position: center left;
    color: transparent;
    background-repeat: no-repeat;
}

#github-link:before {
    visibility: visible;
    content: "aaa";
    background-image: url(../img/github-logo.svg);
    display: inline-block;
    background-size: 70%;
    background-position: center left;
    color: transparent;
    background-repeat: no-repeat;
}

#discord-link {
    transition: 0.1s;
    background: #5b72c5;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 4px;
}

#discord-link:hover {
    background: #8ea6fd;
}

#discord {
    color: #7f95e4;
}

pre {
    background-color: #1a1a1a;
    border-top: 0.5em solid #666666; /* DOOM */
    padding: 0.75em;
    margin-bottom: 2em;
    width: max-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.youtube-container {
    position: relative;
    padding-bottom: 56.39%; /* 724:1284 because of the added 2px border */
}

.youtube-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 12px;
    border: 2px solid #501098
}

.iframe-container {
    margin: 2em 0 2em 0;
    display: flex;
    justify-content: center;
}

.iframe-container > iframe {
    border: none;
}

:target:not(#modal) {
    animation-name: highlight;
    animation-duration: 3s;
}

.stackedit__html ul > li > p {
    margin: 1em 0;
}

.stackedit__html .remark {
    margin: 0;
    font-size: .8em;
    color: white;
    /* text-transform: uppercase; */
    display:block;
    font-weight: 500;
    background: rgb(238, 81, 81);
    border-radius: 5px;
    padding: 0.4em .8em;
    width: max-content;
    box-sizing: border-box;
    text-align: left;
}

.stackedit__html a {
    color: rgb(105, 11, 212);
    transition: 0.1s;
}

.stackedit__html a:hover {
    opacity: 0.75;
}

/* trip */

.stackedit__html {
    margin: 3em auto;
    width: 90%;
    max-width: 50em;
    background-color: #1a1a1a;
    border-radius: 11px;
    padding: 1em;
    box-shadow: 0px 1px 36px 0px #00000060;
}

.stackedit__html p {
    line-height: 1.75em;
    margin-top: 2em;
}

.stackedit__html h2 {
    line-height: 2em;
}

.stackedit__html h1, h2 {
    color: #5f07c3;
    
}

.stackedit__html strong {
    font-weight: 700;
    color: #ebebeb;
}

.blink {
    animation: blink-animation 2s steps(3, start) infinite;
    -webkit-animation: blink-animation 2s steps(3, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

@media (prefers-reduced-motion: reduce) {
    html, body {
        scroll-behavior: auto;
    }

    .blink {
        animation: none!important;
        -webkit-animation: none!important;
    }

    .installer-hero {
        animation: none !important;
    }

    :target:not(#modal) {
        animation: none !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}

/* idiot warning */
.idiot-warning-container {
    z-index: -1;
    margin: 2em auto 2em auto;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 50em;
    background: rgb(128, 0, 0);
    border-radius: 8px;
    padding: 1em;
}

#close{
    position: relative;
    height:0;
    display:flex;
    left:91%;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.fbt-dude {
    background-image: url("../img/fbt-dude.svg");
    width: 20%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
    min-width: 4em;
    min-height: 9em;
}

.idiot-warning-container p {
    margin: .7em 0;
}

.idiot-warning-container h4 {
    margin: .7em 0;
}

.idiot-warning-container h4:before {
    visibility: visible;
    content: "aaa";
    background-image: url(../img/warning.svg);
    display: inline-block;
    background-size: contain;
    color: transparent;
    background-repeat: no-repeat;
}

.idiot-warning-container a {
    color: #ffff00;
}

@media only screen and (max-width: 950px) {
    header {
        padding-top: 7vw;
        padding-bottom: 4vw;
    }

    header h1.title {
        font-size: 10vw;
    }

    header p {
        font-size: 3.7vw;
    }
}

@media only screen and (max-width: 700px) {
    .idiot-warning-container, .installer-hero {
        flex-wrap: wrap;
    }

    .hero-image {
        /* Removed the amount of space added above and below
           by object-fit to fit it in a square */
        width: 100%;
    }
}

.k2ex-warning{
    background-color:rgb(185, 30, 10);
    color:white!important;
    padding:.1em;
    text-align: center;
}
.k2ex-warning a{
    color: white;
}

.modal-container{
    z-index: 99;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000ad;
    position: absolute;
    flex-direction: column;
    visibility: hidden;
    animation-duration: .5s;
    animation-play-state: paused;
    animation-name: modal-entry;
}

.download-modal{
    max-width:1000px;
    height:max-content;
    text-align: center;
    color: white;
    background-color: #111111;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 62px 0px rgba(0,0,0,0.75);
}
.download-modal h1{
    line-height: 0em;
}

.download-modal iframe{
    width: 528px;
    height: 297px;
}
.download-modal h3{
    font-weight: 400;
    line-height: 1em;
}
.modal-dl-link{
    color: #aaaaff;
    margin: 1em;
}
.modal-discord{
    background: #5b72c5;
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.modal-discord:before{
    /* visibility: visible; */
    content: "aaa";
    background-image: url(../img/Discord-Logo-White.svg);
    display: inline-block;
    background-size: 80%;
    background-position: center left;
    color: transparent;
    background-repeat: no-repeat;
}
.system-requirements{
    font-size: .7em;
    margin-top: -.4em;
}
.system-requirements p{
    margin:-.1em;
}
.transparent{
    opacity: .7;
}