:root{
    --k2ex-gradient: linear-gradient(135deg, #7826CD, #A6369B);
    --background-primary: #121212;
    --background-secondary: #222222;
    --background-tertiary: #444444;
    --background-accent: #551796;
}

body{
    font-family: Inter;
    font-size: larger;
}

/* nav stuff */
.logo{
    font-family: "Jost"!important;
    font-size: larger;
    line-height: 100%;
    vertical-align: baseline;
    background-image: url("../img/k2vr-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 40px;
    margin: 32px;
    top:8px;
    left:0
}

.logotype{
    line-height: 39px;
    vertical-align: middle;
    margin-left: 56px;
    color: #fff;
}

.nav{
    padding: 2em;
    background: var(--background-primary);
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-link{
    background: transparent;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out!important;
}
.nav-link:hover{
    background: var(--k2ex-gradient);
    color: white;
    transition: all 0.2s ease-in-out!important;
}

.btn{
    border: none;
    transition: filter 0.2s ease;
}

.btn:hover{
    filter: brightness(1.3);
    transition: filter 0.2s ease;
}

.btn-primary{
    background: var(--k2ex-gradient);
}

.file-download-link{
    background: var(--background-accent);
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out!important;
    padding: .3em;
    text-decoration: none;
}

/* download icon as before pseudo element */
.file-download-link::before{
    content: "";
    display: inline-block;
    margin: 4px;
    padding-right: 1.1em;
    position: relative;
    vertical-align: middle;
    background-image: url("../img/download-icon-old.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}

strong[data-toggle="tooltip"] {
    text-decoration: underline dashed;
    cursor: help;
}