@keyframes hero-entry {
    from {
        opacity: 0;
        transform: translateY(-6em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes highlight {
    25%, 50% {
        background-color: rgba(61, 156, 52, 0.5);
    }

    from, to {
        background-color: transparent;
    }
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 44, 93);
    color: #e1e2e4;
    font-family: Inter;
    font-size: x-large;
    text-rendering: geometricPrecision;
}

header {
    background: linear-gradient(0deg, rgba(60, 157, 52, 1) 0%, rgba(47, 126, 40, 1) 100%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    z-index: 999;
    text-align: center;
    box-sizing: border-box;
    color: #ffffff;
    /*font-size: 0.8em;*/
    padding-top: 3.5em;
    padding-bottom: 2em;
}

header h1.title > .logo {
    height: 1.1em;
    margin: -0.15em;
    margin-right: 0.15em;
}

header h1.title {
    margin: 0;
    font-size: 3.75em;
    font-weight: 500;
}

header p {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: -0.01em;
    margin-top: 0;
}

.installer-hero {
    z-index: -1;
    margin: 2em auto 0 auto;
    display: flex;
    width: 70%;
    background: linear-gradient(90deg, rgb(26, 34, 73) 0%, rgb(18, 23, 49) 100%);
    border-radius: 8px;
    animation-name: hero-entry;
    animation-duration: 1.3s;
    padding: 1em;
}
  
.hero-content {
    display: inline-block;
    width: auto;
    margin: auto 1em;
    transform: translateY(-1em);
}
  
.hero-content h1 {
    line-height: 1em;
}
  
.hero-image {
    min-width: 0;
    object-fit: contain;
}

.hero-buttons > a {
    white-space: nowrap;
    display: inline-block;
    margin: 1em 0;
    margin-right: 0.1em;
    text-align: center;
}

#download-button {
    transition: 0.1s;
    background: #3A9832;
    color: #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
}
#download-button:before{
    visibility: visible;
    content:"aaa";
    background-image: url(../img/download-icon.svg);
    display:inline-block;
    background-size: contain;
    color:transparent;
    background-repeat: no-repeat;
    vertical-align: -webkit-baseline-middle;
}

#download-button:hover {
    background: rgba(225, 226, 228, 0.75);
}
  
#github-link {
    transition: 0.1s;
    color: #e1e2e4;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
}

#github-link:hover {
    background: rgba(225, 226, 228, 0.25);
}

#discord {
    color: #7f95e4;
}

pre {
    background-color: #1a1a1a;
    border-top: 0.5em solid #666666; /* DOOM */
    padding: 0.75em;
    margin-bottom: 2em;
    width: max-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.iframe-container {
    margin: 2em auto;
    width: max-content;
}

:target {
    animation-name: highlight;
    animation-duration: 3s;
}

.stackedit__html ul > li > p {
    margin: 1em 0;
}

.stackedit__html .remark {
    margin: 0;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    background: rgb(238, 81, 81);
    border-radius: 5px;
    padding: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.stackedit__html a {
    color: rgb(59, 197, 47);
    transition: 0.1s;
}

.stackedit__html a:hover {
    opacity: 0.75;
}

/* trip */

.stackedit__html {
    margin: 3em auto;
    width: 60%;
}

.stackedit__html p {
    line-height: 1.75em;
    margin-top: 2em;
}

.stackedit__html h2 {
    line-height: 2em;
}

.stackedit__html h1, h2 {
    color: #3c9c34;
}

.stackedit__html strong {
    font-weight: 900;
    color: #ffffff;
}

.installer-ad {
    background-color: transparent;
    background-image: url("https://owo.whats-th.is/8QRwR6z.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: auto;
    height: 400px;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
    html, body {
        scroll-behavior: auto;
    }

    .installer-hero {
        animation: none !important;
    }

    :target {
        animation: none !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}
/* idiot warning */
.idiot-warning-container{
    z-index: -1;
    margin: 2em auto 2em auto;
    display: flex;
    width: 60%;
    background: #A70000;
    border-radius: 8px;
    padding: 1em;
}
.fbt-dude{
    background-image: url("../img/fbt-dude.svg");
    width:20%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
    min-width: 4em;
}
.idiot-warning-container p{
    margin:.7em 0;
}
.idiot-warning-container h4{
    margin:.7em 0;
}
.idiot-warning-container h4:before{
    visibility: visible;
    content:"aaa";
    background-image: url(../img/warning.svg);
    display:inline-block;
    background-size: contain;
    color:transparent;
    background-repeat: no-repeat;
}
.idiot-warning-container a{
    color:#ffff00;
}